/* General styles for the modal */

/* Add this to your add-society-milk-collection-modal.component.scss file */

ion-header {
  --background: #f8f9fa;
  --color: #333;
}

ion-toolbar {
  --background: #007bff;
  --color: #fff;
}

ion-title {
  font-weight: bold;
}

ion-content {
  --background: #ffffff;
}

form {
  padding: 16px;
}

ion-item {
  margin-bottom: 12px;
}

ion-label {
  font-weight: bold;
  font-size: 14px;
}

ion-select {
  --padding-start: 0;
  --padding-end: 0;
}

ion-input {
  font-size: 14px;
}

ion-button {
  // margin-top: 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

ion-button:hover {
  background-color: #0056b3;
}

ion-datetime {
  font-size: 14px;
}

ion-select {
  --placeholder-color: #6c757d;
}

ion-select-option {
  font-size: 14px;
}

ion-select .select-placeholder {
  font-size: 14px;
}

ion-item ion-label {
  color: #495057;
}

ion-item ion-input {
  font-size: 14px;
}

ion-item ion-datetime {
  font-size: 14px;
}

ion-card {
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Header and Title styles */
  ion-card-header {
    background-color: #f4f5f8;
    border-bottom: 1px solid #e0e0e0;
  }
  
  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  .subpages-list {
    padding-left: 20px; /* Indent subpages */
    border-left: 2px solid #ccc; /* Visual separation */
    margin-left: 20px;
    margin-top: -10px; /* Adjust positioning to close gap */
  }
  
  ion-item {
    padding: 5px;
    --inner-padding-end: 0; /* Remove right padding to align checkbox */
  }
  
  ion-item ion-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    font-size: 14px; /* Slightly smaller font for subpages */
  }

  ion-item ion-select{
    width: 100%;
    margin: 5px 0;

  }
  
  .subpages-list ion-item {
    --background: #f8f8f8; /* Subtle background for subpages */
  }
  
  ion-card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    padding: 16px;
  }
  
  .button-group ion-button {
    flex: 1; /* Allow buttons to take up equal space */
  }
  
  @media (max-width: 768px) {
    .subpages-list {
      padding-left: 10px; /* Adjust padding on smaller screens */
      border-left-width: 1px;
    }
  
    ion-item ion-label {
      font-size: 12px; /* Adjust font size for smaller screens */
    }

    .button-group {
        flex-direction: column; /* Stack buttons vertically on smaller screens */
      }
    
      .button-group ion-button {
        width: 100%; /* Full width for buttons on smaller screens */
      }
  }
  