<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Week</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddWeekModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
        Add Week
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ent-ser">
      <ion-col size="12" size-xs="5" size-sm="3" size-md="3">
        <ion-item>
          <ion-select label="Show Entries" interface="popover" label-placement="floating" fill="outline" [(ngModel)]="entriesToShow" (ionChange)="updatePagination()">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-xs="5" size-sm="3" size-md="3">
        <ion-item>
          <ion-input label-placement="floating" fill="outline" [(ngModel)]="searchTerm" label="Search"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="table-container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Created Date/Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of paginatedWeeks">
          <td>{{ week.name }}</td>
          <td>{{ week.startDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ week.endDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ week.status }}</td>
          <td>{{ week.createdAt | date: 'short' }}</td>
          <td>
            <ion-button size="small" fill="clear" color="primary" (click)="editWeek(week)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" color="danger" (click)="deleteWeek(week.id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Previous</ion-button>
    <ion-label>{{currentPage}} of {{totalPages}}</ion-label>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</ion-button>
  </div>
</ion-content>
