<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Production Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/prod-dashboard" routerDirection="forward">
        <ion-label>Dashboard</ion-label>
      </ion-item>
      <ion-item routerLink="/create-order" routerDirection="forward">
        <ion-label>Create Order</ion-label>
      </ion-item>
      <ion-item routerLink="/bom" routerDirection="forward">
        <ion-label>Bill of Materials</ion-label>
      </ion-item>
      <!-- Add more menu items as needed -->
    </ion-list>
  </ion-content>
</ion-menu>
