<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Subcriptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">subcriptions</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="table">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sm="5" md="5" lg="2"> <ion-item>
          <ion-input label="Subcriptions ID :" value="12" [readonly]="true"></ion-input>
        </ion-item></ion-col>
  
        <ion-col size="12" sm="5" md="5" lg="2"> <ion-item>
      <ion-input label="Org ID:" value="123" [readonly]="true"></ion-input>
    </ion-item></ion-col>
  
        <ion-col size="12" sm="5" md="5" lg="2"> <ion-item>
      <ion-input label="Plan ID" value="345" [readonly]="true"></ion-input>
    </ion-item></ion-col>
  
        <ion-col size="12" sm="5" md="5" lg="2"> <ion-item>
      <ion-input label="Start Date :" value="02/04/2024" [readonly]="true"></ion-input>
    </ion-item></ion-col>
  
        <ion-col size="12" sm="5" md="5" lg="2"> <ion-item>
      <ion-input label="End Date :" value="01/03/2025" [readonly]="true"></ion-input>
    </ion-item></ion-col>

        <ion-col size="12" sm="5" md="5" lg="2"> <ion-item>
      <ion-input label="status :" value="active" [readonly]="true"></ion-input>
    </ion-item></ion-col>
  </ion-row>
</ion-grid>

    <div class="buttons">
    <ion-col size="12" sm="2" md="4" lg="6"><ion-button color="tertiary">Renew Plan</ion-button> </ion-col>
    <ion-col size="12" sm="2" md="4" lg="6"><ion-button color="success">Sumbit</ion-button> </ion-col>
    <ion-col size="12" sm="2" md="4" lg="6"><ion-button color="danger">Update</ion-button> </ion-col>
  </div>
  </div>
</ion-content>


<!-- size="4" sm="2" md="4" lg="6" -->