

<ion-content fullscreen>
  <div class="image-container">
    <img src="../../assets/milkglass.jpg" alt="Sample Image" class="background-image">
    <div class="overlay">
      <div class="header">
        <div class="logo">
          <!-- <ion-img src="../../assets/logo-png.png" class="logocar"></ion-img> -->
        </div>
   
  </div>
      <div class="container">
        <ion-grid>
          <ion-row>
       <ion-col size="12" sm="1" md="4" lg="6"> <h5>Username</h5> </ion-col>
       <ion-col size="12" sm="1" md="4" lg="6"> <ion-input placeholder="Username"></ion-input> </ion-col>
       <ion-col size="12" sm="1" md="4" lg="6"> <h5>Password</h5></ion-col>
       <ion-col size="12" sm="1" md="4" lg="6"> <ion-input placeholder="Password"></ion-input> </ion-col>
       <ion-col><ion-button  type="submit" class="login-button"routerLink="/submenu">Login</ion-button></ion-col>
       <ion-col  size="12" sm="1" md="4" lg="6"class="forgetpass"><p><a href="#">Forget Password</a></p></ion-col>
       <ion-col size="12" sm="1" md="4" lg="6">  <p class="signup">Don't have an account? </p>
       <p> <a href="#">Sign up</a></p></ion-col>
      </ion-row>
      </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
