ion-menu {
  width: 305px;
  height: 100%;
}

ion-toolbar {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left:  16px; /* Adjust padding as needed */
}

.logo {
  width: 75px;
  height: auto;
  margin-right: auto; /* Pushes logo to the left side */
}

.menu-cross {
  font-size: 24px;
}

ion-searchbar {
  --background: #d5d6d7b8;
  --border-radius: 30px;
  width: 100%; /* Make the search bar full width */
  // margin-bottom: 16px; /* Adds space below the search bar */
}

.custom-scrollbar {
  overflow-y: auto; /* Enables vertical scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

ion-item {
  border-radius: 8px; /* Rounded corners for menu items */
  margin-bottom: 4px; /* Adds space between items */
  transition: background-color 0.3s, box-shadow 0.3s;
}

ion-item.active {
  background-color: #e0e0e0; /* Active state color */
}

ion-item:hover {
  background-color: #d0d0d0; /* Hover effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

:host-context(.dark-mode) {
  ion-icon {
    color: white;
  }

  ion-menu {
    --background: #1e1e1e; /* Dark background for menu */
  }

  ion-searchbar {
    color: white;
    --background: #333;
  }
}
