<!-- <ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header> -->



<!-- <ion-content>
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"></ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Dashdord</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">  </ion-content>
  </div>


  <!-- <ion-card>
   <ion-card-header>
     <ion-card-title>Welcome to Digimilk</ion-card-title>
   </ion-card-header>
    <ion-card-content>
      This is the home page of the Digimilk application.
    </ion-card-content>
  </ion-card> -->
<!-- </ion-content> --> -->

<ion-header>
  <ion-toolbar>
    <ion-title>HOME</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
