<ion-header>
  <ion-toolbar>
    <ion-title>Add Shift</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addShiftForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-select placeholder="Shift" interface="popover" formControlName="name">
        <ion-select-option value="Morning Shift">Morning</ion-select-option>
        <ion-select-option value="Evening Shift">Evening</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Status" interface="popover" formControlName="status">
        <ion-select-option value="Active ">Active</ion-select-option>
        <ion-select-option value="Inactive ">Inactive</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-footer>
      <ion-button expand="full" type="submit" [disabled]="addShiftForm.invalid">Submit</ion-button>
    </ion-footer>
  </form>
</ion-content>
