<ion-header>
  <ion-toolbar>
    <ion-title>Add Milk Type</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addMilkTypeForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-select interface="popover" placeholder="Milk Type" formControlName="name">
        <ion-select-option *ngFor="let option of milkTypes" [value]="option">{{ option }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Status" interface="popover" formControlName="status">
        <ion-select-option value="Active">Active</ion-select-option>
        <ion-select-option value="Inactive">Inactive</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>
</ion-content>
