<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title style="font-family: 'Playfair Display', serif;">
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-img" class="custom-bg" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome to my First Homepage</strong>
    <p>I am Isha Dhumal. This is my first project using Angular.js. <a target="_blank" rel="noopener noreferrer"></a></p>
    <p class="paragraph-spacing">I just completed my graduation in Bachelor's in Computer Applications. <a target="_blank" rel="noopener noreferrer"></a></p>

    <ion-button class="custom-button" class="button-spacing" (click)="onButtonClick()" shape="round">More Info</ion-button>
  </div>
</ion-content>
