<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Edit Product' : 'Add Product' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <input type="file" (change)="onFileChange($event)" />
      <ion-img *ngIf="previewImage" [src]="previewImage"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-select interface="popover" formControlName="type">
        <ion-select-option value="Pack">Pack</ion-select-option>
        <ion-select-option value="Block">Block</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input formControlName="price" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Status</ion-label>
      <ion-select interface="popover" formControlName="status">
        <ion-select-option value="Available">Available</ion-select-option>
        <ion-select-option value="Out of Stock">Out of Stock</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit">{{ isEdit ? 'Update' : 'Add' }}</ion-button>
  </form>
</ion-content>
