<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="true"></ion-menu-button>
  </ion-buttons>
  <ion-title class="title">service configuration</ion-title>
</ion-toolbar>
    <!-- <ion-title>org</ion-title> -->
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">service configuration</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">ID</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Org ID</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Service ID</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Provider ID</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">API Key</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Configuration Details</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Created Date</ion-label>
        <ion-input type="date" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Created By</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block">Submit</ion-button>
  </ion-content>
</ion-content>
