<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <img src="assets/logo.png" alt="Logo" class="logo"/>
      </ion-buttons>
  
      <ion-title>
        DigiMilk Society
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-searchbar [(ngModel)]="searchQuery" placeholder="Search"></ion-searchbar>
  
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-badge color="danger">{{ notifications }}</ion-badge>
        </ion-button>
  
        <ion-button (click)="toggleUserMenu()">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
  
        <ion-popover [isOpen]="isUserMenuOpen" (ionPopoverDidDismiss)="closeUserMenu()">
          <ng-template>
            <ion-list>
              <ion-item button (click)="navigateTo('/profile')">Profile</ion-item>
              <ion-item button (click)="navigateTo('/settings')">Settings</ion-item>
              <ion-item button (click)="logout()">Logout</ion-item>
            </ion-list>
          </ng-template>
        </ion-popover>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  