<ion-header>
  <ion-toolbar>
    <ion-title>Society Sales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddSocietySalesModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
        Add Society Sales
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row class="ent-ser">
      <ion-col size="12" size-xs="5" size-sm="3" size-md="3">
        <ion-item>
          <ion-select  label="Show Entries" interface="popover" label-placement="floating" fill="outline" [(ngModel)]="entriesToShow" (ionChange)="updatePagination()">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-xs="5" size-sm="3" size-md="3">
        <ion-item>
          <ion-input [(ngModel)]="searchTerm" label-placement="floating" fill="outline" label="Search"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="table-container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Invoice Id</th>
          <th>Customer Id</th>
          <th>Invoice Date</th>
          <th>Total Amount</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Organization Id</th>
          <th>Created By</th>
          <th>Created Date/Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let SocietySales of societySales">
          <td>{{ SocietySales.invoice_id }}</td>
          <td>{{ SocietySales.customer_id }}</td>
          <td>{{ SocietySales.invoice_date | date:"dd-MM-yyyy" }}</td>
          <td>{{ SocietySales.total_amount | currency:'INR' }}</td>
          <td>{{ SocietySales.due_date | date:"dd-MM-yyyy" }}</td>
          <td>{{ SocietySales.status }}</td>
          <td>{{ SocietySales.org_id }}</td>
          <td>{{ SocietySales.created_by }} </td>
          <td>{{ SocietySales.createdAT | date:"short" }}</td>
          <td>
            <ion-button size="small" fill="clear" color="primary" (click)="editSocietySale(SocietySales)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" color="danger" (click)="deleteSocietySale(SocietySales.invoice_id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Previous</ion-button>
    <ion-label>{{currentPage}} of {{totalPages}}</ion-label>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</ion-button>
  </div>

</ion-content>
