ion-card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    background-color: #f9fafb;
  }
  
  ion-card-title {
    font-weight: bold;
  }
  
  .product-details {
    margin: 10px 0;
  }
  
  ion-img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  
  ion-searchbar {
    width: 50%;
    // margin: 16px;
  }
  
  ion-card {
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    padding: 16px;
  }
  
  ion-card-title {
    font-size: 1.2em;
  }
  
  ion-img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    padding: 16px;
  }
  
  .product-details p {
    margin: 4px 0;
  }
  
  